
<% if quick_queries.present? %>

  <div class="quick-queries bg-warning">

    <div class="header text-muted">Quick Queries</div>

    <ul class="list-unstyled">

    <% for qq in quick_queries %>
      <li> <%= qq %> </li>
    <% end %>

    </ul>

  </div>

<% end %>