<div class="main-page">

  <!-- songs -->
  <% if @songs.present? %>
    <h3 class="main-header">Songs</h3>
    <%= render partial: '/songs/song_list', locals: {songs: @songs} %>
  <% end %>

  <!-- albums -->
  <% if @compositions.present? %>
    <h3 class="main-header">Albums</h3>
    <%= render partial: '/compositions/album_list', locals: {albums: @compositions, suppress_header: false} %>
  <% end %>

  <!-- gigs -->
  <% if @gigs.present? %>
    <h3 class="main-header">Gigs</h3>
    <%= render partial: '/gigs/gig_list', locals: {gigs: @gigs, suppress_header: false} %>
  <% end %>

</div>