<h2>About this site</h2>

<p>
    Welcome to askingtree.com! This site represents decades of work by fans of Robyn Hitchcock, 
    collecting information on his oeuvre and making it freely available to other fans. If you have 
    feedback, such as corrections or additional data, we would love to hear from you at 
    <a href="mailto:askingtree.com@gmail.com">askingtree.com@gmail.com</a>.
</p>

<p>
    Our site has five search pages, most of which include “Quick Queries”. These are data reports 
    pre-populated with some of the most commonly requested information. On the Home page, the 
    available Queries are a randomized subset of all the Queries available; they are standard on 
    the other pages.
</p>

<p>
    Pressing the “Enter” key in any search box will show a full list of all items.
</p>

<ul>
    <li>
        <strong><a href="/">Home</a></strong>: Use this page to search everything in the database, 
        kind of like a Google search.
    </li>

    <li>
        <strong><a href="/songs">Songs</a></strong>: Search for songs Robyn has written and/or performed.
    </li>

    <li>
        <strong><a href="/compositions">Albums</a></strong>: All published releases, both authorized and 
        bootleg. Note an “Advanced Options” dropdown is available under the search box, to optionally 
        narrow your search.
    </li>

    <li>
        <strong><a href="/gigs">Gigs</a></strong>: A massive “Gigography” of performances from 1976 
        to the present day. This data was refreshed in 2020. Note an “Advanced Options” dropdown is 
        available under the search box, to optionally narrow your search.
    </li>
    
    <li>
        <strong><a href="/performances">Media</a></strong>: Videos, TV appearances and such. Note an 
        “Advanced Options” dropdown is available under the search box, to optionally narrow your search.
    </li>

</ul>

<br/>

<h2>Site History and Acknowledgements</h2>

<p>
    The site hatched way back in the halcyon days of 1994 with the inception of the Robyn Hitchcock Song List 
    (™). Four years later it went online for the first time at <a href="http://www.JH3.com">www.JH3.com</a>. We have not been able to contact 
    JH3 recently, so we moved to askingtree.com in 2017. A huge debt of gratitude is due to all who contributed 
    to the effort over the years, especially John H. Hedges, Ramsey Shehadeh, Marcus Slade, Roberta Cowan, 
    Scott Frank, Eric Cassidy, Mike DeLong, Jeme Brelin, Eddie Tews and John Partridge.
</p>

<p>
    We also wish to express our great thanks to all the friends and associates of Mr H who provided information, 
    corrections and memories to help grow and improve our data hoard. Including but not limited to: Robert Lamb, 
    Morris Windsor, Kimberley “Sinew” Rew, James A. “The Great One” Smith, Alan “Wang-Bo” Davies, Jim Melton, 
    Chris “Hamburger” Alexander, and most especially Matthew Seligman, whom we lost in 2020.
</p>

<p>
    And much respect to Mr Robyn Hitchcock without whom, etc., etc!
</p>

<br/>

<p><i>Bayard Catron</i></p>


<br/>

<h2>Other Links for Your Interest</h2> 

<p>Not many of these are still active, but preserved for posterity:<p>

<ul>
    <li><a href="http://robynhitchcock.com/">Robynhitchcock.com/</a> (official site)</li>
    <li><a href="https://web.archive.org/web/20180716112610/http://www.fegmania.org/">Fegmania.org</a>, by woj</li>
    <li><a href="http://askingtree.com/misc/gh/">The Glass Hotel</a>, by Bayard </li>
    <li><a href="https://durianapocalypse.net/robyn/">Robyn Hitchcock is God, OK?</a> by Eddie Tews (check out the awesome News Archive)</li>
    <li><a href="http://fegfotos.com/home.htm">fegFOTOS</a>, by Nick Winkworth</li>
    <li><a href="https://web.archive.org/web/20171025124250/http://home.palmnet.net/~mrrunion/cones.htm">Virtual Cone Museum</a>, by Mike Runion</li>
    <li><a href="https://durianapocalypse.net/archive/">Ticket Stub Gallery</a>, by Stewart C. Russell</li>
    <li><a href="https://robynhitchcocksongography.weebly.com/">Robyn Hitchcock Song-ography</a>, by Terry (UK)</li>
</ul>