// Place all the styles related to the Compositions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.album-list {

  .advanced-options-header {
    cursor: pointer;

    padding-top: 10px;

    .glyphicon {
      font-size: 10px;
      top: 0;
    }

    &:hover {
      .header-name {
        text-decoration: underline;
      }
    }
  }

  .advanced-options {

    display: none;
    padding-left: 15px;


    .criteria {

      .header-name {
        font-style: italic;
        font-size: 13px;
        font-weight: normal;
      }

      .criteria-options {
        padding: 10px;
        border: 1px gray dotted;
        font-size: 12px;
      }

    }

    &.expanded {
      display: block;
    }

  }

}

.albums-page {

  h4 {
    margin-top: 0;
  }

  .album-title {
    padding-bottom: 20px;
  }
  
  .album-track-list {
    padding-top: 10px;
  }

  .album-block-header {

    cursor: pointer;

    .glyphicon {
      font-size: 10px;
    }

    .edition-type {
      font-weight: bold;
    }

    &:hover {
      .edition-type {
        text-decoration: underline;
      }
    }


    .album-comments {
      font-style: italic;
      font-weight: normal;
    }

  }

  .album-block-container {

    padding-top: 5px;
    padding-left: 14px;

  }

  .album-art {  
    img {
      // float: right;
      width: 300px;
      height: 300px;
    }
  }

}