// Place all the styles related to the Compositions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.album-list {



}

.albums-page {

  h4 {
    margin-top: 0;
  }

  .album-title {
    padding-bottom: 20px;
  }
  
  .album-track-list {
    padding-top: 10px;
  }

  .album-block-header {

    cursor: pointer;

    .glyphicon {
      font-size: 10px;
    }

    .edition-type {
      font-weight: bold;
    }

    &:hover {
      .edition-type {
        text-decoration: underline;
      }
    }


    .album-comments {
      font-style: italic;
      font-weight: normal;
    }

  }

  .album-block-container {

    padding-top: 5px;
    padding-left: 14px;

  }

  .album-art {  
    img {
      // float: right;
      width: 300px;
      height: 300px;
    }
  }

}