// Place all the styles related to the robyn controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.top-container {
  padding-top: 60px;
}

.search-block {
  position: relative;
  text-align: center;
}

table.main-search-list {

  // thead th {
  //   border-top: none;
  // }

  tr:hover {
    cursor: pointer;
  }

  .main-column {
    color: #337ab7;
  }

  td:first-child, th:first-child {
    width: 70%;
  }

}


.main-header {
  margin-top: 30px;

  small {
    margin-left: 20px;
  }
}

h3.main-header {
  background-color: rgb(225, 135, 40);
  color: white !important;
  position: relative;
  // border: solid gray;
  // border-width: 0 0 2px 0;
  padding: 5px 0;


  &:after, &:before {
    content: "";
    position: absolute;
    background: rgb(225, 135, 40);  /* Match the background */
    top: 0;
    bottom: 0;
    width: 9999px;   /* some huge width */
  } 

  &:before {
    right: 100%; 
  }

  &:after {
    left: 100%;
  }

} 



.tt-dropdown-menu {

  font-size: 24px;

  h4 {
    background-color: rgb(225, 135, 40);
    color: white !important;
    position: relative;
    padding: 5px;    
  }

}


/* override bootstrap description styles */
dl.dl-horizontal {
  margin-bottom: 0px;
  dt {
    text-align: left;
    width: 140px
  }
  dd {
    margin-left: 20px;
  }
}

