// Place all the styles related to the robyn controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.top-container {
  padding-top: 60px;
}

.search-block {
  position: relative;
  text-align: center;
}

table.main-search-list {

  tbody {
    tr:hover {
     cursor: pointer;
    }
  }

  .main-column {
    color: #337ab7;
  }

  td:first-child, th:first-child {
    padding: 8px 8px 8px 4px;
    // width: 70%;
  }


  .glyphicon {
    top: 2px;
    margin-left: 5px;
  }

}


.main-header {
  margin-top: 30px;

  small {
    margin-left: 20px;
  }
}

.search-criteria {

  padding: 10px 0 20px;

  input[type=submit] {
    margin-left: 5px;
    padding: 6px;
  }

  input[type=text] {
    padding: 4px 12px;
  }

  button {
    padding-left: 10px;
  }

  .criteria {

    padding-top: 10px;

    .radio-label {
      margin-right: 5px;
    }

    .header-name {
      font-weight: bold;
    }

    .criteria-options {
      padding-top: 5px;
      // padding-left: 15px;

      -webkit-columns: 3;
         -moz-columns: 3;
              columns: 3;
    }

  }

}

.search-results {
}


// h3.main-header {
//   background-color: rgb(225, 135, 40);
//   color: white !important;
//   position: relative;
//   // border: solid gray;
//   // border-width: 0 0 2px 0;
//   padding: 5px 0;


//   &:after, &:before {
//     content: "";
//     position: absolute;
//     background: rgb(225, 135, 40);  /* Match the background */
//     top: 0;
//     bottom: 0;
//     width: 9999px;   /* some huge width */
//   } 

//   &:before {
//     right: 100%; 
//   }

//   &:after {
//     left: 100%;
//   }

// } 


/* typeahead overrides */

.navbar {

  form {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .typeahead,
  .tt-query,
  .tt-hint {
    width: 200px;
    height: 25px;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 20px;
    // border: 2px solid #ccc;
    // -webkit-border-radius: 8px;
    //    -moz-border-radius: 8px;
    //         border-radius: 8px;
    outline: none;
    border-radius: 0;
    border: 0;
  }

  .typeahead {
    background: #fff;
    // background: #fff asset-url("search-icon-small.png") no-repeat -10px -0px;
  }

  // .typeahead:focus {
  //   border: 2px solid #0097cf;
  // }

  .tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }

  .tt-hint {
    color: #999
  }

  .tt-dropdown-menu {
    text-align: left;
    width: 200px;
    margin-top: 5px; //  12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
    // -webkit-border-radius: 8px;
    //    -moz-border-radius: 8px;
    //         border-radius: 8px;
    // -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    //    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    //         box-shadow: 0 5px 10px rgba(0,0,0,.2);
  }

  .tt-suggestion {
    padding: 3px 20px;
    font-size: 14px;
    line-height: 24px;
  }

  .tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
  }

  .tt-suggestion p {
    margin: 0;
  }
}


.tt-dropdown-menu {

  font-size: 14px;

  h4 {
    // background-color: rgb(225, 135, 40);
    // color: white !important;
    // position: relative;
    padding: 0 15px 0 15px;
    font-size: 16px; 
    font-weight: bold;
  }

}


/* override bootstrap description styles */
dl.dl-horizontal {
  margin-bottom: 0px;
  dt {
    text-align: left;
    width: 140px;
    font-weight: 400;
    font-style: italic;
  }
  dd {
    margin-left: 20px;
  }
}


.lyrics {
  pre {
    display: block;
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: white;
    border: none;
    border-radius: 0;
  }
}